.minsize_btn,.maxsize_btn{
    font-size: 15px;
}

.drag_container{
    height: 600px;
    width: 70%;
    /*overflow: hidden;*/
    margin: 0px auto;
    border: 1px solid #e6e4e4;
}

 .drag_controller_list{
    width: 100%;
 }
 .drag_controller_list> li{
    cursor: pointer;
    width:100%;
    height: 40px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:20px; 
 }
#line_li{
    height: 1px;
 }
#line_li>div{
    width: 80%;
    height: 1px;
    background: #fff;
}

.drag_controller{
    width: 5%;
    height: 100%;
    background: #999;
    float: left;
}
.drag_content_grid{
    background-color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.08) 1px, transparent 0px), linear-gradient(90deg, rgba(0, 0, 0, 0.08) 1px, transparent 0px);
    background-size: 15px 15px;
}
.drag_content{
    position: relative;
    overflow: hidden;
	width: 95%;
    height: 100%;
    float: left;
}
.drag_item{
    background: #fff;
    color: #999;
    margin: 5px;
    cursor:move; 
    position: relative;
 	width: 100px;
    display: inline-block;
 }
 .drag_item_header{
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 15%;
    line-height: 15%;
 }
 .drag_item_move{
    cursor: move;
    float: left;
    width: 30%;
    height: 100%;
 }

 .drag_item_header >input{
    background: #fff;
    width: 35%;
    border: none;
    display: inline-block;
    height: 100%;
    text-align: center;
 }
 .drag_item .drag_item_header_action_list{
    width: 35%;
    color: #e6e6e6;
    height: 100%;
    display: flex;
    float: right;
    font-size: 20px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    box-sizing: border-box;
 }
 .drag_item_header_action_list> i{
    cursor: pointer;
    margin: 0 2px;
 }
.drag_item_header_action_list> i:hover{
    color: #999;
 }
 .drag_item_box{
    padding: 10px;
    width: 100%;
    height: 85%;
    box-sizing: border-box;
 }
 .chart_type1{
    box-shadow: 0 0 5px #999;
    width: 50%;
    height: 300px;
    /* position: absolute;top: 0;left: 0 */
 }
 .text_type{
    box-shadow: 0 0 1px #999;
    width: 30%;
    height: 50px;
    /* position: absolute;top: 0;left: 0 */
 }
 .drag_content_resize_div{
    width: 100%;
 }

 .drag_item_box > textarea{
    width: 100%;
    height: 100%;
    border: none;
    /*margin: 5%;*/
    box-sizing: border-box;
    background: inherit;
    resize:none
 }