 .header-card{
    font-size:14px; 
    z-index: 9999;
    padding: 30px 25px;
    width: 38%;
    top: 50px;
    left: 317px;
    min-height: 300px;
    position: absolute;
    background: #fff;
    border: 1px solid #ececec;
    color: #999;
    box-shadow: 0 0 8px #ede5e5;
  }
  .header-card-content{
    position: relative;
    overflow: hidden;
  }
  .header-card-content-item{
    display: inline-block;
    margin-right:10px;
    width: 30%;
  }
  .header-card-content-item>div{
    width: 80%;
    padding-bottom: 5px;
    border-bottom: 1px solid #f7f0f0;
  }
  .header-card-content-item ul li{
    float: none;
    width: 100%;
    text-align: left;
    height: 25px;
    line-height: 25px;
    list-style: disc;
    /*text-indent: 10px;*/
  }
  .header-card-content-item ul li a:hover{
    text-decoration: underline;
    color: #282828;
  }
  .header_search_box{
  margin: 0 30px;
    float: right;
    height: 100%;
    width: 150px;
    padding: 0;
    margin-right: 25%;
    /*background: blue;*/
}
.header_search_div{
      position: relative;
    width: 100%;
    height: 80%;
    padding: 0;
    margin: 2% 0;
    /* border-radius: 20px; */
    border: 1px solid #cecdcd;
}
.header_search_div input{
  text-indent: 10px;
  /*padding-left: 5px;*/
  outline:none;
  height: 100%;
    width: 80%;
    background: #F0F2F3;
    /*border: 1px solid #999;*/
    border: none;
    /*border-radius: 20px 0 0 20px;*/
}
.header_search_div .header_search_btn{
  cursor: pointer;
  width: 15%;
  color: #999;
  display: inline-block;
}
#select-title{
    margin-top: 5px;
    height: 40px;
    border: none;
    font-size: 13px;
    line-height: 30px;
    padding: 0 15px;
    color: #fff;
    float: left;
    position: relative;
    background-color: #389fe4;
    cursor: pointer;
    /*border-radius: 20px;*/
}
#header_add_userinfo_box2{
  width: 300px;
}