.nav_container{
height: 90%;
/*min-width: 600px;*/
z-index: 999;
position: absolute;
top: 1px;
margin-top: 50px;
/*border: 1px solid #999;*/
}
.nav_container_level{
    margin-right: -5px;
	background: #F0F2F3;
    width: 200px;
    height: 100%;
    box-sizing: border-box;
    /*border-right: 1px solid hsla(0,0%,100%,.15);*/
    padding: -10px 0;
    position: relative;
    z-index: 4;
    display: inline-block;
    overflow: hidden;
}
.nav_container_level ul li{
	overflow: hidden;
	display: block;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    padding: 6px 20px;
    cursor: pointer;
    color: #999;
}
.nav_container_level ul li:hover,.active_tab{
	color: #00A2CA;
    /*border-bottom: 1px solid #00A2CA;*/
	/*background: #cccaca;*/
}
.active_tab>span,.active_tab i{
    color: #00A2CA;
}
.nav_container_level ul li i{
	font-size: 20px;
	float: right;
	margin-top: 1px;
};
.nav_container_level1{
	/*left: -200px;*/
}
.nav_container_level2{
/*left: 200px;*/
z-index: 7;
}
.nav_container_level3{
/*left: 400px;*/
}